body {
    background-image: url("../images/bg.jpg");
    background-color: black;
    color:whitesmoke;
 }
 .container {
    text-align: center;
    display: grid;
}
#table {
    margin-top: 2em;
    margin-bottom: 2em;
}
.aCard {
    line-height: 150%;
    font-family: sans-serif;
    font-size: 0.8em;
    display: grid;
    padding: 1em;
    color: black;
    border: solid white;
    background-color: whitesmoke;
    /*grid-template-rows: 1fr 1fr 5fr 1fr 1fr 1fr 1fr 1fr 1fr;*/
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-areas: 
    "article     code           code            code"
    "product     name           name            name"
    "imgName     img            img             img"
    "buyPrice    buyNumber      buyTotal        buyTotalNumber"
    "sellPrice   sellNumber     sellTotal       sellTotalNumber"
    "pieces      piecesNumber   piecesNumber    piecesNumber"
    "material    materialNames  materialNames   materialNames"
    "color       colorNames     colorNames      colorNames"
    "size        sizeValues     sizeValues      sizeValues"
}
.aCard > input {
    width: 100%;
    font-size: 0.8em;
}

.article {
    grid-area: article;
}
.code {
    grid-area: code;
}
.product {
    grid-area: product;
}
.name {
    grid-area: name;
}
.imgName {
    grid-area: imgName;
}
.img {
    grid-area: img;
    max-width: 100%;
}
.buyPrice {
    grid-area: buyPrice;
}
.buyNumber {
    grid-area: buyNumber;
}
.buyTotal {
    grid-area: buyTotal;
}
.buyTotalNumber {
    grid-area: buyTotalNumber;
}
.sellPrice {
    grid-area: sellPrice;
}
.sellNumber {
    grid-area: sellNumber;
}
.sellTotal {
    grid-area: sellTotal;
}
.sellTotalNumber {
    grid-area: sellTotalNumber;
}
.pieces {
    grid-area: pieces;
}
.piecesNumber {
    grid-area: piecesNumber;
}
.material {
    grid-area: material;
}
.materialNames {
    grid-area: materialNames;
}
.color {
    grid-area: color;
}
.colorNames {
    grid-area: colorNames;
}
.size {
    grid-area: size;
}
.sizeValues {
    grid-area: sizeValues;
}