* {box-sizing: content-box;}

body{
   /* background-image: url("../images/bg.jpg");*/
    
    background-color: #e9edf5;
    
    font-size: 16px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	margin: 0;
	color: #888;
    
    

}

#page {

    /*color: whitesmoke;*/

    display: grid;
    grid-gap: 5px;
    grid-template-columns: 0.8fr 4fr;
    grid-template-rows: 1fr 5fr 0.5fr;
    height: 100vh;
    /*grid-auto-rows: minmax(100%, 100%); */
    grid-template-areas: 
        "navigation  header"
        "navigation  main"
        "navigation  footer";
}

header, main, footer{

    padding: 1em;


}

header, footer,nav{
    color:#888;



}


header {
    grid-area: header;
    font-size: 50px;

}


nav {
    grid-area: navigation;
    border-radius: 5px;
    background-color: whitesmoke;
	box-shadow: 0 5px 50px rgba(0,0,0,0.4);
	text-align: center;
}
main {
    grid-area: main;
    /*color:darkslategray;*/
    border-radius: 5px;
    background-color: whitesmoke;
    
}
aside {
    grid-area: sidebar;
}
footer {
    grid-area: footer;
}
span{

    margin-right: 10px;
}

#profilepic{

    font-size: 50px;

}
.profile{
    text-align: center;
    display: block; 
}

#page {
    /*border: 4px solid rgba(0,0,0,0.2);
    border-radius: 5px;*/

}

#page > * {
    /* border: 3px solid skyblue;
     border-radius: 5px;
     color:whitesmoke;*/

}

button:hover,input:hover{

    

}


input[type=text]{
    
    border: 2px solid ;
    border-radius: 2px; 
    background-color: white;
    color: #888;
    border-color:#ccc;
    
}

button,input[type=button]{

    border: 2px solid ;
    border-radius: 2px; 
    background-color: #3186ff;
    color: white;
    border-color:rgba(0,0,0,0);
    padding: 0.5em;
    

}

a{
    
    border: 2px solid ;
    border-radius: 2px; 
    background-color: #3186ff;
    color: white;
    border-color:rgba(0,0,0,0);
    padding: 0.5em;
    
}

.navButton{
    
    width: 95%;
    margin-bottom: 5px;
    color:white;
    
}


li{list-style-type: none;

   padding-top: 10px;
}

li:hover{list-style-type: none;
         background-color: white;
         color:darkslategray;
}

.project-container{

    border: 2px solid ;
    border-radius: 2px; 
    background-color: whitesmoke;
    margin-top: 4px;
    border-color: #ccc;
}

/*/////////color*/
.add{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow:auto;;
    padding-top: 60px;
    background-color: rgba(0,0,0,0.5);
}

.form-container{
    
   /* margin:  5% auto 15% auto;
    border: 1px solid rgba(0,0,0,0.5);
    width:30%;
    text-align: center;
    
*/
}

.form-container{
    
    
	max-width: 340px;
	margin: 0 auto;
	position: relative;
	top: 80px;
	padding-bottom: 30px;
	border-radius: 5px;
	box-shadow: 0 5px 50px rgba(0,0,0,0.4);
	text-align: center;
}



.form-container{
    background-color: whitesmoke;
}
#submit{
    background-color: #3186ff ;
    color:white;
}

#colorName{
    width: 90%;
    border: 1px solid #ccc;
	border-radius: 2px;
	font-size: .9em;
	color: black;
    
}
#submit{
    margin-top: 50px;
    width: 70%;
    
    
	text-transform: uppercase;
}