.aTheme {
    display: flex;
    flex-direction: column;
    background-color: rgb(31, 31, 31);
   
}

.bg {
    
    display: flex;
    flex-direction: column;
    background-color: rgb(31, 31, 31);
    min-height: 100vh;
}

.aRow {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /*justify-content: space-around;*/
}

.addCard {
    margin: 0.5em;
    padding: 0.3em;
    height: 6em;
    width:6em;
    background-color: rgb(209, 209, 209);
    border-radius: 0.3em;
    border: solid black 2px;
}
.aCard {
    border: dashed rgb(73, 73, 73) 2px !important;
}
#add {
    text-align: center;
    font-size: 1em;
    margin: 1em;
    padding: 1em;
    background-color: rgb(209, 209, 209);
    border-radius: 0.3em;
    width: 5em;
}
.buttons:hover {
    background-color: rgb(112, 112, 112);
}

body {
    margin: 0;
}

.outfit {
    margin: 1em 1em 0em;
    padding: 1em;
    background-color: rgb(100, 100, 100);
    border-radius: 0.3em;
}

.spaceBetween {
    display: flex;
    justify-content: space-between;
}

#hidden {
    display: hide;
}

.themeButton {
    text-align: center;
    margin-left: 1em;
    width: 4em;
    border-radius: 0.3em;
    padding: 0.5em;
    background-color: rgb(209, 209, 209);
}

.themeRow {
    display: flex;
}

.plusImg {
    max-width: 50%;
}

.plusImg:hover {
    background-color: rgb(112, 112, 112);
}

#detailedCard {
    width: 100%;
    min-height: 450px;
    background-color: rgb(180, 180, 180);
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px;
}

/*@media (max-width: 1800px)*/
#detailedCardArea {
    position: absolute;
    top: 0;
    left: 0;
    width: 84%;
    z-index: 10;
    margin-left: 8%;
    margin-top: 7%;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 0px;
}

.hidden {
    display: none;
}

.simpleCard {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas:
        "name name delete"
        "empty image empty2"
        "colr colr colr"
}

.simpleCardName {
    grid-area: name;
}

.simpleCardDel {
    grid-area: delete;
}

.simpleCardImg{
    grid-area: image;
}

.simpleCardColor {
    grid-area: colr;
}

.simpleCardEmpty {
    grid-area: empty;
}

.simpleCardEmpty2 {
    grid-area: empty2;
}